<div class="chat-window-root">
  <!-- HEADER -->
  <div class="chat-header" *ngIf="otherUser">
    <img
      class="avatar-header"
      [src]="
        otherUser.profilePicture
          ? '/assets/avatars/' + otherUser.profilePicture
          : '/assets/avatars/placeholder1.png'
      "
      alt="avatar interlocutor"
    />
    <div class="user-info">
      <div class="username">{{ otherUser.username }}</div>
    </div>
  </div>

  <!-- MESSAGES -->
  <div #messagesContainer class="messages-container">
    <ng-container *ngFor="let m of messages; let i = index">
      <!-- Separator de data -->
      <div
        *ngIf="
      i === 0 ||
      (m.sentAt | date:'yyyy-MM-dd') !== (messages[i-1].sentAt | date:'yyyy-MM-dd')
    "
        class="date-separator"
      >
        {{ m.sentAt | date:'MMMM d, yyyy' }}
      </div>

      <!-- Bubble-ul de mesaj -->
      <app-message-bubble
        [message]="m"
        [isMine]="m.senderId === currentUserId"
      ></app-message-bubble>
    </ng-container>

  </div>

  <!-- INPUT -->
  <div class="input-container">
    <app-message-input
      placeholder="Type a message…"
      (send)="onSendText($event)"
    ></app-message-input>
  </div>
</div>
