<div class="chat-window-root">
  <!-- HEADER -->
  <div class="chat-header" *ngIf="otherUser">
    <img
      class="avatar-header"
      [src]="
        otherUser.profilePicture
          ? '/assets/avatars/' + otherUser.profilePicture
          : '/assets/avatars/placeholder1.png'
      "
      alt="avatar interlocutor"
    />
    <div class="user-info">
      <div class="username">{{ otherUser.username }}</div>
    </div>
  </div>

  <!-- MESSAGES -->
  <div #messagesContainer class="messages-container">
    <app-message-bubble
      *ngFor="let m of messages"
      [message]="m"
      [isMine]="m.senderId === currentUserId"
    ></app-message-bubble>
  </div>

  <!-- INPUT -->
  <div class="input-container">
    <app-message-input
      placeholder="Type a message…"
      (send)="onSendText($event)"
    ></app-message-input>
  </div>
</div>
