<div class="login-wrapper">
  <h1 class="title">Reset Password</h1>
  <form [formGroup]="form" class="login-card" (ngSubmit)="onSubmit()">
    <input
      pInputText
      formControlName="newPassword"
      type="password"
      placeholder="New password"
    />
    <small
      *ngIf="submitted && form.get('newPassword')?.invalid"
    >Min 6 characters</small>

    <input
      pInputText
      formControlName="confirmPassword"
      type="password"
      placeholder="Confirm password"
    />
    <small
      *ngIf="submitted && form.hasError('mismatch')"
    >Passwords do not match</small>

    <button pButton class="login-button" type="submit">
      <span pButtonLabel>Reset Password</span>
    </button>

    <div *ngIf="message" class="create-account">
      {{ message }}
    </div>

    <div class="create-account">
      <a [routerLink]="['/login']">&larr; Back to Login</a>
    </div>
  </form>
</div>
