<div class="login-wrapper">
  <h1 class="title">Forgot Password</h1>
  <form [formGroup]="form" class="login-card" (ngSubmit)="onSubmit()">
    <input
      pInputText
      formControlName="email"
      placeholder="Enter your email"
    />
    <small *ngIf="submitted && form.get('email')?.invalid">
      Valid email is required
    </small>

    <button pButton class="login-button" type="submit">
      <span pButtonLabel>Send Reset Link</span>
    </button>

    <div *ngIf="message" class="create-account">
      {{ message }}
    </div>

    <div class="create-account">
      <a [routerLink]="['/login']">&larr; Back to Login</a>
    </div>
  </form>
</div>
