<div class="create-post-container">
  <h2>Create new post</h2>

  <form [formGroup]="postForm" (ngSubmit)="submitPost()">
    <label for="question">Question</label>
    <input
      id="question"
      pInputText
      type="text"
      formControlName="question"
    />

    <label for="answer">Answer</label>
    <textarea
      id="answer"
      pInputText
      rows="5"
      formControlName="answer"
    ></textarea>

    <!-- create-post.component.html -->


    <label id="category-label">Category</label>
    <p-select
      aria-labelledby="category-label"
      inputId="category-select"
      class="category-select"
      panelStyleClass="category-panel"
      [filter]="true"
      [options]="categories"
      optionLabel="name"
      optionValue="categoryId"
      formControlName="categoryId"
      placeholder="Select Category">
    </p-select>



    <button
      pButton
      type="submit"
      label="Submit"
      [disabled]="postForm.invalid"
    ></button>
  </form>
</div>
