<div class="login-wrapper">
  <img
    src="assets/avatars/factify_logo.png"
    alt="Factify logo"
    class="logo"
  />
  <h1 class="title">Login</h1>

  <form
    [formGroup]="loginForm"
    class="login-card"
    [ngClass]="{ 'shake': invalidAttempt }"
    (ngSubmit)="onLogin()">

    <input pInputText formControlName="email" placeholder="Enter your email" />
    <small *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
      Email is required
    </small>

    <input pInputText formControlName="password" type="password" placeholder="Enter your password" />
    <small *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
      Password is required
    </small>

    <button pButton class="login-button" type="submit">
      <span pButtonLabel>Log In</span>
    </button>

    <div class="create-account">
      <span>Don't have an account? <a [routerLink]="['/register']">Create Account</a></span>
    </div>
  </form>
</div>
