<div class="home-layout">
  <app-sidebar></app-sidebar>

  <div class="profile-card">
    <button class="profile-bubble" (click)="goToProfile()">
      <img [src]="defaultAvatar" />
    </button>
  </div>

  <div class="feed-scroll-container flex flex-col items-start ml-85" #scrollContainer>
    <app-post-card
      *ngFor="let post of posts; let i = index"
      class="w-[500px] flex-shrink-0  snap-start h-full"

      [post]="post"
      [flipped]="flipped[i]"
      [liked]="likedPosts[i]"
      (flip)="toggleFlip(i)"
      (like)="toggleLike(i)"
      (share)="sharePost(i)"
    ></app-post-card>

    <div *ngIf="loadingMore" class="col-span-full text-center text-gray-400 py-4">
      Loading more…
    </div>
  </div>

  <!-- Navigation Arrows -->
  <div class="navigation-arrows">
    <button (click)="previousPost()"><i class="pi pi-chevron-up"></i></button>
    <button (click)="nextPost()"><i class="pi pi-chevron-down"></i></button>
  </div>
</div>
