<div class="bubble" [class.mine]="isMine">
  <!-- Dacă e share de post -->
  <ng-container *ngIf="message.post; else textTpl">
    <app-post-card
      [post]="message.post"
      size="chat"
      [flipped]="flipped"
      [showLikeButton]="false"
      [showShareButton]="false"
      class="mini-post"
      (flip)="flipped = !flipped"
    ></app-post-card>
  </ng-container>

  <!-- Mesaj text simplu -->
  <ng-template #textTpl>
    <div class="content">
      {{ message.content }}
    </div>
  </ng-template>

  <div class="time">
    {{ message.sentAt | date:'shortTime' }}
  </div>
</div>
