<!-- message-bubble.component.html -->
<ng-container *ngIf="message.post; else textTpl">
  <!-- Wrapper special pentru postări (fără bubble) -->
  <div class="post-wrapper" [class.mine]="isMine">
    <app-post-card
      [post]="message.post"
      size="chat"
      [flipped]="flipped"
      [showLikeButton]="false"
      [showShareButton]="false"
      (flip)="flipped = !flipped"
    ></app-post-card>
    <div class="time">{{ message.sentAt | date:'shortTime' }}</div>
  </div>
</ng-container>

<ng-template #textTpl>
  <!-- Mesaje text intr-o bulă normală -->
  <div class="bubble" [class.mine]="isMine">
    <div class="content">{{ message.content }}</div>
    <div class="time">{{ message.sentAt | date:'shortTime' }}</div>
  </div>
</ng-template>
